@use "../../../GlobalStyles/base.scss" as base;
.slider__item {
  width: 64.375em;
  height: 11.875em;
  padding: 1.25em 0 1.625em 1.875em;
  border-radius: 0.625em;
  background: base.$alpha-03;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0; ////////////
  z-index: -1;
  box-shadow: 0 4px 9px rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  & .slider__img {
    position: absolute;
    // top: -100%;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 1px;
    border-radius: 0.625em;
    overflow: hidden;
    & picture {
      display: inline-block;
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
    }
    & img {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.75;
      pointer-events: none;
    }
  }
  & .slider__text {
    font-size: 2em;
    z-index: 1;
    text-shadow: 0 0px 7px rgba(0, 0, 0);
  }
  & .closeButton {
    opacity: 0;
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 30px;
    z-index: 1;
    transform-origin: top right;
    &:before,
    &:after,
    & div {
      background: rgba(255, 255, 255);
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
  & .slider__description {
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
  }
  &.slider__item_active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3) !important;
    opacity: 1 !important;
    width: 75%;
    height: 75%;
    background-color: gray;
    z-index: 3 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    & .closeButton {
      opacity: 1;
    }
    & .slider__img {
      top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      // overflow: auto;
      & picture {
        transition: all 0.1s linear;
        min-width: 100%;
      }
      & img {
        min-width: 100%;
        transition: all 0.1s linear;
      }
    }
    & .slider__title {
      font-size: 1.5em;
    }
    & .slider__description {
      display: inline-block;
      opacity: 1;
      font-size: 0.5em;
    }
  }
}
@media screen and (max-width: 1800px) {
  .slider__item {
    width: 45em;
    height: 10em;
  }
}
@media screen and (max-width: 992px) and (orientation: portrait) {
  .slider__item {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    z-index: 1;
    width: 100%;
    // height: 12em;
    opacity: 1;
    & .slider__title {
      font-size: 2em;
    }
    &.slider__item_active {
      width: 80%;
      height: 80%;
    }
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .slider__item {
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    z-index: 1;
    width: 25em;
    height: 12em;
    margin-bottom: 1em;
    justify-content: center;
    & .slider__title {
      text-align: center;
    }
    & .slider__img {
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .slider__item {
    & .slider__title {
      font-size: 1.5em;
    }
  }
}
