@use "../../../GlobalStyles/base.scss" as base;
.entry {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  & video {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  & .entry__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 2em;
    & .entry__companyName {
      line-height: 8rem;
      margin-bottom: 2rem;
      font-size: 10em;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
    }
    & .entry__title {
      margin-bottom: 2rem;
      font-size: 4em;
    }
    & a {
      width: 25rem;
      font-size: 2.5em;
      background: base.$alpha-01;
      box-shadow: base.$box-shadow;
    }
  }
  & .form {
    background-color: #173f47;
    padding: 0;
    max-width: 1150px;
    border-radius: 2em;
    width: 66%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.3s linear;
  }
  & .form_active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  & .closeButton {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    width: 30px;
    z-index: 1;
    transform-origin: top right;
    &:before,
    &:after,
    & div {
      background: rgba(255, 255, 255);
      content: "";
      display: block;
      height: 6px;
      border-radius: 3px;
      margin: 7px 0;
      transition: 0.5s;
    }
    &:before {
      transform: translateY(12px) rotate(135deg);
    }
    &:after {
      transform: translateY(-12px) rotate(-135deg);
    }
    & div {
      transform: scale(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .entry {
    & .entry__titles {
      // justify-content: space-around;
      & .entry__companyName {
        font-size: 15em;
        margin-bottom: 10rem;
      }
      & .entry__title {
        font-size: 8em;
        margin-bottom: 10rem;
      }
      & a {
        width: 50rem;
        font-size: 5em;
      }
    }
    & .form {
      font-size: 3rem;
      width: 90%;
    }
  }
}

@media screen and (max-width: 576px) {
  .entry {
    & .entry__titles {
      & .entry__companyName {
        line-height: 12rem;
      }
    }

    & .form {
      font-size: 2rem;
      width: 100%;
      height: auto;
    }
    & .closeButton {
      top: 1em;
      right: 1em;
    }
  }
}
