@use "../../GlobalStyles/base.scss" as base;
.contacts {
  padding: 7em 2em;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  &__section {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  &__info {
    margin-left: 1em;
    flex-grow: 1;
    padding: 2em;
    background: base.$alpha-01;
    box-shadow: base.$box-shadow;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-shadow: base.$text-shadow;
  }
  &__title {
    margin-bottom: 0.2em;
    font-size: 2em;
  }
  &__details {
    margin-bottom: 0.2em;
    padding-left: 5%;
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    &__section {
      flex-direction: column;min-height: 100%;
      overflow: auto;
    }
    &__info {
      margin-top: 2em;
      margin-left: 0;
      font-size: 3em;
    }
  }
}
